# Dependencies
node_modules/

# Environment variables
.env

# Database
*.sqlite
*.sqlite-journal

# Build files
*.xlsx
*.xls

# IDE
.vscode/
.idea/

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Development
*.swp
*.swo
